<html>
<body>
<p>
Dear $displayName,
</p>
<p>
This is a reminder that your Synapse account has been inactive for an extended period.
If you do not log in to Synapse within the next 14 days, your account will be automatically disabled.
</p>
<p>
To prevent your account from being disabled, please <a href="https://www.synapse.org">log in to Synapse</a>.
</p>
<p>
If your account is disabled, you can contact the Synapse Help Desk to have it re-enabled.
</p>
<p>
Sincerely,
</p>
<p>
Synapse Team
</p>
</body>
</html>
